
<footer class="footer">
  <div class="footer-top">
    <div class="footer-col">
      <h4>Support</h4>
      <ul>
        <li><a href="#">Help Centre</a></li>
        <li><a href="#">Get help with a safety information</a></li>
        <li><a href="#">AirCover</a></li>
        <li><a href="#">Anti-Discrimination</a></li>
        <li><a href="#">Cancellation options</a></li>
        <li><a href="#">Report neighbourhood concern</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Hosting</h4>
      <ul>
        <li><a href="#">Wanderlust your home</a></li>
         <li><a href="#">Wanderlust your experience</a></li>
          <li><a href="#">Wanderlust your service</a></li>
        <li><a href="#">AirCover for Hosts</a></li>
        <li><a href="#">Hosting resources</a></li>
        <li><a href="#">Community forum</a></li>
        <li><a href="#">Hosting responsibly</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Wanderlust</h4>
      <ul>
        <li><a href="#">2026 Summer Release</a></li>
        <li><a href="#">Newsroom</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Investors</a></li>
        <li><a href="#">Wanderlust.co emergency stays</a></li>
      </ul>
    </div>

  </div>
  <hr>
  <div class="footer-bottom">
    <div class="left">
      © 2026 Wanderlust, Inc. · 
        <a href="#">Privacy ·</a> 
        <a href="#">Terms ·</a> 
        <a href="#">Company details</a> 
    </div>

    <div class="right">
      <i class="bi bi-globe"></i>&nbsp; English (IN) &nbsp;&nbsp;&nbsp;₹ INR

      <i class="bi bi-facebook"></i>
      <i class="bi bi-twitter-x"></i>
      <i class="bi bi-instagram"></i>
    </div>
  </div>
</footer>
