<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="alert alert-danger offset-3 col-6" role="alert">
        <%#
            <h4 class="alert-heading">  message  </h4> 
            <h4 class="alert-heading">  err.message  </h4>
            <p>   err.stack  </p>
            <p>   err.trace  </p> 
            Generally I show message b'z User should be easily understand
        %>
        <p class="alert-heading"><%=message%></p>

    </div>
</div>